#game {
  font-family: "Brush Script Mt", cursive, "Roboto", arial;
  border: 3px solid;
  border-radius: 20px;
  padding: 10px;
  background-color: #222831;
  text-align: center;
}
#playerText,
#computerText {
  color: #ddd;
}
#resultText {
  color: #950740;
}

.Btn {
  line-height: 30px;
  width: 130px;
  border: 3px solid;
  border-radius: 10px;
  color: #393e46;
}
